@import "desktop.css";

header{
  background-color: lightsteelblue;
  width: auto;
}


main{
  background-color: lightsteelblue;
  /* I wanted to keep the color scheme continous into the mobile version for uniformity purposes */
  width: auto;
}

footer{
  background-color: black;
  width: auto;
}


nav ul li{
  display: block;
  text-align: center;
}

h1{
  text-align: center
}

h2{
  text-align: center;
  text-decoration: underline;
}


 #grid1{
  width: 500px;
  display: block;
  height: auto;


}


#grid2{
  width: 500px;
  display: block;
  height: auto;
}

#grid3{
  width: 500px;
  display: block;
  height: auto;
  margin-top: 0px;

}

#grid4{
width: 500px;
  display: block;
  height: auto;

}

#grid5{
  width: 500px;
  display: block;
  height: auto;
}

#grid1 img{
  width: 500px;
}

#grid2 img{
  width: 500px;
  height: auto;

}

#grid3 img{
  width: 500px;
}

#grid5 img{
  width:500px;
}
